.main_view button {
    margin-top: 10px;
}

.main_view .key_pad {
    top: 260px;
    left: 48%;
    position: absolute;
    background: white;
    border: solid 2px black;
}

.main_view .key_pad td{
    width: 33%;
    text-align: center;
    vertical-align: middle;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
}

.main_view .key_pad td:hover{
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    background-color: lightblue;
}

.main_view .key_pad td:active{
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    background-color: blue;
}